body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #1bd5e6;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-box {
  width: 400px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 5px;
  height: 3rem;
}

.inputs {
  width: 90%;
  margin-top: 40px;
}

.my-input::placeholder {
  color: #9b9b9b;
}

.form-text {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.submit {
  width: 100%;
  border: none;
  outline: none;
  height: 3rem;
  margin: 5px;
  color: white;
  background-color: #409623;
}

.no-rg {
  color: rgb(155, 153, 153);
}

.form-text a {
  text-decoration: none;
  color: #409623;
}
